body{
    margin-top: 20px;
    margin-left: 20px;
    width: 2048px;
    height: 1536px;
    /*border: 1px solid;*/
    font-family: 'PT Sans', serif;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    max-width: 2048px;
    max-height: 1536px;
    min-width: 2048px;
    min-height: 1536px;
    background-color: rgb(241,237,226);
}


.ui-content{
    background-color: rgb(241,237,226);
}

.ui-header{
    background-color: rgb(111,185,204);
    background: linear-gradient(to top, rgb(101,175,193), rgb(123,196,214));
    color: #ffffff;
    border: none;
}

.ui-header .ui-title{
    text-shadow: none;
}

.ui-page-theme-a{
    text-shadow: none;
}
.ui-page-theme-a .ui-bar-inherit{
    color: #ffffff;
}

#left-menu{
    width: 180px;
    height: 1533px;
    background-color: rgb(131,152,165);
    float: left;
    background-image: url("images/left-menu-bg.png");
    background-repeat: repeat-x;
}
#left-menu>hr{
    border: 0px;
    height: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    margin-bottom: 0px;
}

#logo{
    background-image: url("images/logo.png");
    margin-bottom: 30px;
    margin-top: 17px;
    width: 150px;
    height: 150px;
}

.menu-item{
   padding-top: 32px;
   padding-bottom: 32px;
}

.menu-item-active{
    background-color: rgb(97,114,134);
}
.menu-picture{
    margin: 0 auto;
    width: 160px;
    height: 160px;

}
.menu>a{
    text-decoration: none;
}
.menu-item-text{
    text-shadow: none;
    display: block;
    text-align: center;
    color: rgb(255,251,230);
    font-size: 23pt;
}

.menu-item-devider{
    margin: 0 15px;
    border: none;
    /*margin-top: 30px;*/
    border-top: 1px solid rgb(114,144,154);
    border-bottom: 1px solid rgb(172,178,189);
}
.empl-menu-picture{
    background-image: url("images/human-resources.png");
}
.obj-menu-picture{
    background-image: url("images/objects.png");
}
.contractors-menu-picture{
    background-image: url("images/contractors.png");
}
.tenders-menu-picture{
    background-image: url("images/tenders.png");
}
.sales-menu-picture{
    background-image: url("images/sales.png");
}

.menu-item-active .empl-menu-picture{
    background-image: url("images/human-resources-active.png");
}
.menu-item-active .obj-menu-picture{
    background-image: url("images/objects-active.png");
}
.menu-item-active .contractors-menu-picture{
    background-image: url("images/contractors-active.png");
}
.menu-item-active .tenders-menu-picture{
    background-image: url("images/tenders-active.png");
}
.menu-item-active .sales-menu-picture{
    background-image: url("images/sales-active.png")
}

ul{
    margin-top: 0;
}

.right-side  {
    margin-left: 180px;
    max-width: 1848px;
    min-width: 1848px;
    margin-top: 0px;
    /*max-height: 1536px;*/
    min-height: 1536px;
    height: 1536px;
    font-size: 1.8em;
    background-color: rgb(241,237,226);
}

.ui-title{
    font-size: 3em;
}


.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}