
#empl-charts-tabs2, #empl-charts-tabs{
    float: left;
    margin-left: 20px;
    margin-top: 0;
}

.empl-tabs-group-name{
    float: left;
    font-size: 26px;
    font-weight: bold;
    color: #929090;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: normal;
    margin-right: 10px;
}

.empl-tabs-group-name fieldset{
    float: left;
}

