/*new styles*/

body.bg_body{
    background-image: url('images/main_bg_jpeg.jpg');
    background-repeat: no-repeat;
}

#left-menu.transparent-menu{
    background-color: transparent !important;
    background-image: url('images/main-menu-bg.png');
    box-shadow: none !important;
}

#logo.hide_image{
    background-image: none !important;
}

.main-logo{
    float: left;
    width: 612px;
    min-width: 612px;
    min-height: 1411px;
    position: absolute;
    top: 124px;
    left: 0px;
    background-image: url("images/main-logo.png");
    background-repeat: no-repeat;
    background-position: 50px;
}

.main-content{
    margin-left: 792px;
    background-color: #fff;
}
.main-info-headers{
    width: 750px;
    float: left;
    /*background-color: #78b8bf;*/
}
.main-info-header-part{
    height: 254px;
    min-height: 254px;
    padding-left: 50px;
    font-size: 36px;
    background-color: rgba(127,187,193, .75);
}
.main-info-header-part:nth-child(2n) {
    background-color: rgba(127,187,193, .85);
}
.main-info-header-part-name{
    color: #fff;
    font-weight: bold;

    height: 85px;
    display: table-cell;
    vertical-align: bottom;
}
.main-info-header-part-value-name{
    color: #d3f5f7;
}

.main-info-data{
    width: 504px;
    float: left;
}
.main-info-data-part{
    height: 254px;
    min-height: 254px;
    padding-left: 50px;
    font-size: 36px;
    background-color: rgba(255,255,255, .75);
}

.main-info-data-part:nth-child(2n) {
    background-color: rgba(255, 255, 255, .85);
}
.main-info-data-part-value{
    text-align: center;
    color: #58585a;
}
.main-info-data-part-value:first-child{
    padding-top: 85px;
}
.search-clock{
    /*background-image: url('images/search_bg.png');*/
    width: 100%;
    height: 84px;
    background-color: rgba(255,255,255, 0.3);
    text-align: center;
}

#search_field{
    width: 1960px;
    margin-top: 12px;
    border-radius: 10px;
    border: 0px;
    line-height: 47px;
    background-color: rgba(0,0,0,.1);
    text-align: center;
    /* vertical-align: middle; */
    padding-top: 13px;
    background-image: url('images/find_icon.png');
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: 47.7%;
    color:white;
    padding-left: 50px;

}
#search_field::-webkit-input-placeholder{
    color: #ffffff;
    opacity: 1;
    font-weight: normal;
    transition: opacity 0.3s ease;
}
#search_field:active, #search_field:focus{
    outline: 0;
}
#search_field:focus::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.search-result-bg{
    position: absolute;
    width: 2048px;
    height: 0px;
    left: 0;
    top: 84px;
    background-color: rgba(255,255,255,0.5);
    background-image: url('images/search-bg.jpg');
    z-index: 5;
    overflow: hidden;

}
.search-wrapper{
    width: 1600px;
    margin: 0 auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 0px;
}
#search_cancel_button{
    position: absolute;
    right: -190px;
    top: 28px;
    color: rgba(0,0,0, .5);
}

.search-result-bg a{
    text-decoration: none;
}
.search-item{
    /*width: 1525px;*/
    /*margin: 0 auto;*/
    background-color: rgba(0,0,0,.2);
    padding-left: 35px;
    padding-right: 35px;
    height: 100px;
    margin-bottom: 3px;
}


.search-item .search-item-name,
.search-item .search-item-add-info{
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    font-size: 28px;
    font-weight: 200;
}
.search-item .search-item-name {
    width: 1150px;
    text-align: left;
    color: rgb(255,255,255);
    padding-left: 60px;
}

.search-item .search-item-add-info{
    width: 400px;
    text-align: right;
    color: rgba(255,255,255,0.5);
}

.search-item.search-item-obj{
    background-image: url('images/search-object-item.png');
    background-repeat: no-repeat;
    background-position-y: 25px;
    background-position-x: 30px;
}

.search-item.search-item-org{
    background-image: url('images/search-org-item.png');
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: 30px;

}





