.content-side {
    width: 1275px;
    /*padding: 20px;*/
    float: left;
}

.filter-side{
    float: right;
    width: 500px;
    font-size: 17pt;
}

.ui-btn-inline{
    margin-right: 0px;
}


#documents-filter label {
    font-size: 19pt;
}
#documents-filter  {
    margin-top: 0px;
    text-align: center;
}

#map-content, #list-content, #list-overdue-content{
    display: none;
}

#charts-content{
    display: block;
}

.ymaps-default-cluster{
    font-size: 25px !important;
}

#list-content{
    max-height: 1400px;
    overflow-y: scroll;
}

.ui-content .ui-listview{
    margin: 0em;
}


#objects-list a, #objects-list a:visited  {
    font-size: 21pt;
    height: 90px;
    padding: 0px;
    background-color: transparent;
    color: rgb(115,189,208)
}
#objects-list a:hover{
    margin-right: 0;
}
#objects-list li {
    background-color: transparent;
    border: 1px solid rgb(115,189,208);
}

#objects-list a>div {
    margin-left: 20px;
    white-space: normal;
    width: 950px;
    /*float: left;*/
    /*height: 100%;*/
    display: table-cell;
    vertical-align: middle;
    height: 90px;
    padding-left: 20px;
}
#objects-list a>div:first-child {
    width: 100px;
    border-right: 1px solid rgb(115,189,208);
}
#objects-list a>div:last-child {
    width: 100px;
    border-left: 1px solid rgb(115,189,208);
    /*float: right;*/
    margin-right: 50px;
}




