.content-side {
    width: 1275px;
    /*padding: 20px;*/
    float: left;
}

.filter-side{
    float: right;
    width: 500px;
    font-size: 17pt;
}

.add-filters-action{
    float: right;
}

.filter{
    font-size: 20pt;
    background-color: #e9e9e9;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 9px;
}

.add-filters-action{
    font-size: 18pt;
    color: gray;
}

.horizontal-line{
    width: 100%;
    border-bottom: 4px solid;
}

.small-line{
    border-bottom: 3px solid dimgray;
}

.group-filter{
    margin-top: 20px;
}

#documents-filter label {
    font-size: 19pt;
}
#documents-filter  {
    margin-top: 0px;
    text-align: center;
}

#map-content, #list-content, #list-overdue-content{
    display: none;
}

#charts-content{
    display: block;
}

.ymaps-default-cluster{
    font-size: 25px !important;
}

#list-content{
    max-height: 1400px;
    overflow-y: scroll;
}

.ui-content .ui-listview{
    margin: 0em;
}


