#main_content{
   padding: 30px;
    padding-right: 0px;
}

.sales-tabs{
    text-align: center;
}

.sales-tabs.tabs fieldset label{
    padding-left: 34px;
    padding-right: 34px;
}


#sales-filter{
    float: right;
    margin-top: 0px;
}
#sales-filter #measure-filter label{
    padding-left: 75px;
}
#sales-filter #measure-filter  .filter-part-header.radio-header label {
    width: 500px;
    /* min-width: 500px; */
    max-width: 500px;
    padding-left: 30px;
}

#sales-filter #measure-filter label:first-of-type,
#sales-filter #measure-filter label:last-of-type{
    min-width: 140px;
    max-width: 140px;
    width: 140px;
}

#sales-filter .rooms-filter.сolumns3 label:first-of-type,
#sales-filter .rooms-filter.сolumns3 label:last-of-type{
    min-width: 33%;
    max-width: 33%;
    width: 33%;
}