.tenders-tabs{

    margin-left: 22px;
}

.tender-tabs-group-name{
    float: left;
    font-size: 26px;
    font-weight: bold;
    color: #929090;
    margin-left: 0px;
    margin-top: 15px;
    font-weight: normal;
}
#tender-charts-tabs2, #tender-charts-tabs{
    float: left;
    margin-left: 10px;
    margin-top: 0;

}

#tender-charts-tabs label{
    padding: .7em .83em;
}

#tender-charts-tabs2 label{
    padding: .7em .83em;
}

#tender-charts-tabs{
    margin-right: 20px;
}


.group-filter{
    /*margin-top: 20px;*/
}

#tender-charts-content{
    clear: both;
    margin-top: 30px;
}

.tender_chart{
    margin-top: 30px;
}

.ui-controlgroup, fieldset.ui-controlgroup{
    /*margin: 0px;*/
}
h3{
    color: rgb(146,144,144);
}

.charts-container{
    float: left;
    width: 1200px;
}

.tenders_list_column{
    white-space: normal;
    font-size: 30px;
    color: #8e8e93;
    display: table-cell;
    min-height: 40px;
    /* width: 59px; */
    max-width: 299px;
    font-weight: 200;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    overflow: auto;
    font-family: 'PT Sans', sans-serif;

}

.tenders-list-wrapper{
    margin-top : 182px;
    overflow: scroll;
}

.tenders-list-wrapper form{
    position: fixed;
    top: 124px;
    width: 1868px;
    z-index: 1;
}
.tenders-list-wrapper form input{
    text-align: center;
}

.tenders-list-header{
    background-color: #e0eff3;
    color: #637173;
    font-weight: bold;
    position: fixed;
    z-index: 1;
    top: 220px;
    height: 75px;
    width: 1809px;
    border-bottom: 2px solid #65afc1;
    padding: 12px 45px 12px 18px;
}

#tenders_list{
    margin-top: 12px;
    overflow-y: scroll;
    height: 1200px;
    -webkit-overflow-scrolling: touch;
}

#tenders_list li > a{
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'PT Sans', sans-serif;
}
.tenders-list-header .tenders_list_column{
    height: 75px;
    font-size: 26px;
    font-family: 'PT Sans', sans-serif;
}

.tenders_list_column:first-child{
    width: 380px;
    min-width: 380px;
    max-width: 380px;
    text-align: left;
}
.tenders_list_column:first-child + span {
    width: 125px;
    min-width: 125px;
    max-width: 125px;
}
.tenders_list_column:first-child + span + span {
    width: 240px;
    min-width: 240px;
    max-width: 240px;
}
.tenders_list_column:first-child + span + span + span{
    width: 170px;
    min-width: 170px;
    max-width: 170px;
}
.tenders_list_column:first-child + span + span + span + span{
    width: 138px;
    min-width: 138px;
    max-width: 138px;
}
.tenders_list_column:first-child + span + span + span + span+ span{
    width: 225px;
    min-width: 225px;
    max-width: 225px;
}
.tenders_list_column:first-child + span + span + span + span+ span + span{
    width: 210px;
    min-width: 210px;
    max-width: 210px;
}
.tenders_list_column:first-child + span + span + span + span+ span + span + span{
    width: 240px;
    min-width: 240px;
    max-width: 240px;
}
.tenders_list_column:last-child {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
}

.ui-input-search:after{
    height: 0px;
}

