.tenders-tabs{

    margin-left: 22px;
}

.tender-tabs-group-name{
    float: left;
    font-size: 26px;
    font-weight: bold;
    color: #929090;
    margin-left: 0px;
    margin-top: 15px;
    font-weight: normal;
}
#tender-charts-tabs2, #tender-charts-tabs{
    float: left;
    margin-left: 10px;
    margin-top: 0;

}

#tender-charts-tabs label{
    padding: .7em .83em;
}

#tender-charts-tabs2 label{
    padding: .7em 1.17em;
}

#tender-charts-tabs{
    margin-right: 20px;
}


.group-filter{
    /*margin-top: 20px;*/
}

#tender-charts-content{
    clear: both;
    margin-top: 30px;
}

.tender_chart{
    margin-top: 30px;
}

.ui-controlgroup, fieldset.ui-controlgroup{
    margin: 0px;
}
h3{
    color: rgb(146,144,144);
}

.charts-container{
    float: left;
    width: 1200px;
}